@use "variable";
@use "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: variable.$font-main;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  background: variable.$background-color;
  color: variable.$text-color;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

h1 {
  font-size: variable.$font-size-title;
  font-family: variable.$font-title;
}
